.figure {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin: 0 1em;
  max-width: 100%;
}
.figure.selected .image {
  filter: brightness(0.5);
}
.figure.align-left {
  justify-self: first baseline;
}
.figure.align-right {
  justify-self: last baseline;
}

.image {
  max-width: 100%;
}

.caption {
  font-size: 0.7em;
  opacity: 0.5;
}
