{
  "$schema": "https://json.schemastore.org/eslintrc",
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["solid"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:solid/typescript"
  ],
  "rules": {
    "no-redeclare": ["error", { "builtinGlobals": false }],
    "solid/no-innerhtml": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "globals": {
    // Declare VoidFunction as a global to prevent warning.
    // It is part of `lib.dom.d.ts` but for some reason it's not
    // a global.
    //
    // More context: https://github.com/lukeed/uvu/issues/89
    "VoidFunction": "readonly"
  }
}
