.root {
  display: grid;
  min-height: 100vh;
  transition: margin-left 200ms;
}
.root.menuVisible {
  margin-left: 18rem;
}

@media (max-width: 1200px) {
  .root.menuVisible {
    margin-left: 0;
  }
}

.toggle {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 2rem;
  justify-self: end;
  transition: translate 200ms;
}
.root.menuVisible .toggle {
  translate: 12.5rem;
  transition: translate 200ms;
}

@media (max-width: 1200px) {
  .toggle {
    top: 1rem;
    left: 1.5rem;
  }
}

@media (max-width: 768px) {
  .toggle {
    left: 0.5rem;
  }
}
