.root {
  display: grid;
  min-height: 100vh;
  transition: margin-left 200ms;
}
.root.menuVisible {
  margin-left: 18rem;
}

.toggle {
  position: fixed;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  justify-self: end;
  transition: translate 200ms;
}
.root.menuVisible .toggle {
  translate: 13.5rem;
  transition: translate 200ms;
}
