.root {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  z-index: 1;
  top: -1rem;
  left: 50%;
  translate: -50% -100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.4rem;
  background: #fff;
  color: #444;
}
