.root {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0 solid transparent;
  border-radius: 2px;
  padding: 0.6rem;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}

.root.size-small {
  font-size: 0.9rem;
}
.root.size-normal {
  font-size: 1rem;
}
.root.size-large {
  font-size: 1rem;
}

.root.type-normal {
  background: transparent;
  color: #444;
  /* color: hsl(214deg 11% 12% / 80%); */
}
.root.type-normal:hover {
  background: #ddd;
}

.root.active {
  background: #eee;
  /* background: rgb(51 112 255 / 10%);
  color: rgb(51 112 255); */
}
