.root {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0 solid transparent;
  border-radius: 2px;
  padding: 0.6em;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}

.root.size-small {
  font-size: 0.7em;
}
.root.size-normal {
  font-size: 0.8em;
}
.root.size-large {
  font-size: 1em;
}

.root.type-normal {
  background: transparent;
  color: hsl(214deg 11% 12% / 80%);
}
.root.type-normal:hover {
  background: rgb(46 50 56 / 15%);
}

.root.active {
  background: rgb(51 112 255 / 10%);
  color: rgb(51 112 255);
}
