.root {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0 solid transparent;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  /* font-size: 14px; */
  /* font-weight: 600; */
  vertical-align: middle;
  white-space: nowrap;
}

.root.size-small {
  padding: 0.2em;
}
.root.size-normal {
  padding: 0.6em;
}
.root.size-large {
  padding: 0.6em;
}

.root.type-primary {
}
.root.type-primary:hover {
}
.root.type-normal {
  background: transparent;
  color: hsl(214deg 11% 12% / 80%);
}
.root.type-normal:hover {
  background: rgb(46 50 56 / 15%);
}

.root.active {
  background: rgb(51 112 255 / 10%);
  color: rgb(51 112 255);
}
