.root {
  /* TODO: editor theme color */
  --color: #222;

  position: relative;
  outline: 1px solid var(--color);
  word-break: normal;
  pointer-events: none;
  /* animation: blink 1.5s steps(2) infinite; */
}

.name {
  position: absolute;
  top: 0;
  left: -1px;
  translate: 0 -100%;
  border-radius: 6px 6px 6px 0;
  padding: 0.2rem 0.6rem;
  background: var(--color);
  color: white;
  font-family: var(--font-family);
  font-size: 1rem;
  white-space: nowrap;
}

/* @keyframes blink {
  0% {
    opacity: 0;
  }
} */
