.root {
  position: sticky;
  top: 2.5rem;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

.link {
  padding: 0 1rem;
  line-height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link:hover {
  background: #eee;
}
.link.active {
  background: #eee;
}

.actions {
  --index: -1;

  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: -2.5rem;
  padding-right: 2.5rem;
  height: 3rem;
  translate: 0 calc(var(--index) * 3rem);
}
