.root {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  translate: -100%;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  gap: 1rem;
  width: 18rem;
  height: 100vh;
  padding: 2rem 1rem 1rem;
  background: #fafafa;
  transition: translate 200ms;
}
.root.visible {
  translate: 0;
}

@media (max-width: 1200px) {
  .root {
    padding-top: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
  justify-self: center;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
