.root {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

.link {
  padding: 0 1rem;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
}
.link:hover {
  border-radius: 4px;
  background: #eee;
}
.link.active {
  border-radius: 4px;
  background: #eee;
}

.actions {
  --index: -1;

  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  background: #eee;
  translate: 0 calc(var(--index) * 2.5rem);
}

.delete {
  color: #999;
}
.delete:hover {
  color: #444;
}
