.form {
  display: flex;
  border-left: 1px solid #ccc;
  padding: 0 0.4rem;
}

.input {
  border: 0;
  box-sizing: content-box;
  padding: 0.2em;
  min-width: 20ch;
  max-width: 80ch;
  line-height: 1em;
  font-family: monospace;
}
