html {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-y: scroll;
  color: #2c2c2c;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
hr,
p,
pre,
blockquote {
  margin: 0;
}

iframe {
  border: 0;
}
