html {
  box-sizing: border-box;
  /* background: #272727; */
  background: #fafaf6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0;
}

body {
  margin: 0;
}

::selection {
  background: #f6e7c9;
}
