.root {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: row;
  justify-items: end;
  padding: 1rem;
  gap: 0.5rem;
}

.peer {
  --color: black;

  position: relative;
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--color);
  color: white;
  cursor: default;
}
.peer:hover::before {
  content: attr(data-name);
  position: absolute;
  left: 0;
  top: 50%;
  translate: calc(-100% - 0.5rem) -50%;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  background: #000;
  white-space: nowrap;
}
